{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "overrides": [
    {
      "files": [
        ".*",
        "*.json",
        "*.md",
        "*.yml"
      ],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": [
        "**/*.astro"
      ],
      "options": {
        "parser": "astro"
      }
    }
  ]
}