---
import Layout from '@packages/layouts/Layout.astro'
import AllLinks from '@packages/components/src/AllLinks.astro'
import { ShowcaseComponent } from '@packages/client-components'
---

<Layout description="SSG generated index page" title="Welcome to Hybrid Astro with turborepo!">
  <main>
    <h1>Welcome to <span class="text-gradient">Hybrid Astro with turborepo!</span></h1>

    <p class="instructions">
      This is the static (SSG) index page in <code>apps/static/src/pages/index.astro</code>.
    </p>

    <h2>React Component example:</h2>

    <ShowcaseComponent client:visible text="works!" />

    <AllLinks />
  </main>
</Layout>
