---
import Layout from '@packages/layouts/Layout.astro'
import AllLinks from '@packages/components/src/AllLinks.astro'
import { ShowcaseComponent } from '@packages/client-components'
// see: https://docs.astro.build/en/guides/server-side-rendering/#features
// -> this gets executed as a Vercel Function (locally: Node.js) to return a dynamic SSR response

const url = Astro.request.url
const randomNumber = Math.random() * 1000
---

<Layout description="SSR generated page" title="Dynamic page">
  <main>
    <h1><span class="text-gradient">Dynamic, SSR page</span></h1>

    <p class="instructions">
      This is a dynamic (SSR) page in <code>apps/server/src/pages</code>.
    </p>

    <p>
      <code>
        URL (try query params): {url}<br />
        Some random number: {randomNumber}
      </code>
    </p>

    <h2>React Component example:</h2>

    <ShowcaseComponent client:visible text="works!" />

    <AllLinks />
  </main>
</Layout>
