---
import Layout from '@packages/layouts/Layout.astro'
import AllLinks from '../components/AllLinks.astro'
import { Image } from '@astrojs/image/components'

export const prerender = true
---

<Layout description="SSG generated index page" title="Welcome to Hybrid Astro with turborepo!">
  <main>
    <h1>
      Welcome to <span class="text-gradient">
        <a href="https://turbo.build/repo/docs" target="_blank">turbo</a>
        <a href="https://github.com/withastro/rfcs/pull/362" target="_blank"><i>hybrid</i></a>
        <a href="https://astro.build" target="_blank">Astro</a> on
        <a href="https://vercel.com" target="_blank"> Vercel</a>!</span
      >
    </h1>

    <p>
      This <a href="https://github.com/kyr0/turbo-hybrid-astro-on-vercel" target="_blank">
        template project</a
      > showcases the power of Astro 2.0's hybrid rendering:
    </p>

    <ul>
      <li>
        <strong><code>hybrid</code> output</strong> in terms of per page static pre-rendering (SSG) or
        dynamic server-side-rendering (SSR).
      </li>
      <li><strong><code>turbo</code></strong> (Turbopack) is used to manage the monorepo</li>
      <li>
        <strong><code>turbo cache</code></strong> is used for <i>local</i> and <i>remote</i> caching
        (even in CI!)
      </li>
      <li>
        <strong><code>Vercel Deploy</code></strong> is pre-configured with serverless functions for SSR;
        clone repo and deploy in 1 min (literally!)
      </li>
      <li>
        <strong><code>@vercel/analytics</code></strong> has been integrated correctly for development
        and production
      </li>
      <li>
        <strong><code>Preact 10</code></strong> is pre-configured for <code>preact-components</code
        >, read the docs to simply integrate any other supported framework.
      </li>
      <li>
        <strong><code>astrojs-serivce-worker</code></strong> to generate a <code
          >service-worker.js</code
        > using WorkBox is integrated for caching static resources and offline reading support.
      </li>
      <li>
        <strong><code>eslint</code></strong> is used for clean code (even for .astro files!)
      </li>
      <li>
        <strong><code>prettier</code></strong> is used to format the code (even for .astro files!)
      </li>
      <li>
        <strong><code>astro-sitemap</code></strong> is used for custom sitemap generation
      </li>
      <li>
        <strong><code>@astrojs/image</code></strong> for image optimization using <code>sharp</code>
      </li>
      <li>
        <strong><code>astro-robots-txt</code></strong> for custom <code>robots.txt</code> generation
      </li>
      <li>
        <strong><code>astro-webmanifest</code></strong> for custom and seamless <code
          >manifest.webmanifest</code
        >
        PWA support; generates all necessary icons on-the-fly using <code>sharp</code>
      </li>
      <li>
        <strong><code>vitest</code></strong> unit testing support via <code>yarn test</code>
      </li>
      <li>
        <strong><code>c8</code></strong> unit test and code coverage analysis via <code
          >yarn coverage</code
        >
      </li>
      <li>
        <strong><code>playwright</code></strong> modern front-end testing via <code
          >yarn playwright</code
        >
      </li>
      <li>
        <strong>
          <code>packages/layouts</code>,
          <code>packages/astro-components</code> and
          <code>packages/preact-components</code>
          allow for re-using and sharing code. Components can be imported like: <code
            >@packages/**/*.*</code
          >
        </strong>
        <li>
          <strong><code>tsconfig</code></strong> is pre-configured and unified in <code
            >packages/tsconfig</code
          >
        </li>
      </li>
    </ul>

    <p>
      <strong>Great</strong> developer experience (DX) and
      <strong>extra performance</strong> is unlocked when you use this template as a foundation for your
      Astro project.
      <i>Note: Just make sure to set the Vercel root directory to <code>apps/server</code>.</i>
      See:
      <a href="https://github.com/kyr0/turbo-hybrid-astro-on-vercel#project-layout" target="_blank"
        ><code>README.md</code>
      </a>
    </p>

    <p>
      <strong>Please note:</strong> The build output is located at <code
        >apps/server/.vercel/output/*</code
      > and is available after you called <code>yarn build</code> for the first time.
    </p>

    <strong>
      <a
        href="https://codesandbox.io/s/github/kyr0/turbo-hybrid-astro-on-vercel/main"
        target="_blank"
        >Try on CodeSandbox.io
      </a>
    </strong>

    <h2>Performance stats</h2>
    <p>Collected from this very deployment on Vercel:</p>

    <img
      class="perf_image"
      src="/build_speed.png"
      width="800"
      height="214"
      alt="Amazing build speed on Vercel"
    />
    <img
      class="perf_image"
      src="/desktop_speed.png"
      width="800"
      height="698"
      alt="100% desktop speed in web.dev speed test"
    />
    <img
      class="perf_image"
      src="/mobile_speed.png"
      width="800"
      height="702"
      alt="100% mobile speed in web.dev speed test"
    />

    <a
      href="https://pagespeed.web.dev/report?url=https%3A%2F%2Fturbo-hybrid-astro-on-vercel.vercel.app%2F&hl=EN"
      >Re-run this test to verify the results</a
    >

    <p class="instructions">
      This is the statically prerendered (SSG) index page in <code
        >apps/server/src/pages/index.astro</code
      >.
    </p>

    <AllLinks />

    <p>
      Testing <code>@astrojs/image</code>:
    </p>

    <Image
      src="https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3071&q=80"
      width={300}
      height={200}
      quality={80}
      aspectRatio="4:3"
      alt="Foxes on a meadow"
    />
  </main>

  <style>
    .perf_image {
      object-fit: contain;
      width: 100%;
    }
  </style>
</Layout>
